* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100%;
  padding: 20px;
}

.card {
  max-width: 1000px;
  margin: auto;
  background: rgba(255,255,255,1);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  padding: 30px;
  color: #000;
  box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.85;
}

.choose-model {
  font-size: 18px;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.radio-group label {
  font-weight: normal;
  cursor: pointer;
}


section {
  margin-bottom: 25px;
}

section h2 {
  margin-bottom: 15px;
  font-size: 18px;
  opacity: 0.9;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label {
  font-size: 14px;
  margin-bottom: 4px;
}

input, select {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  outline: none;
}
.button-group {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

button {
  padding: 14px;
  font-size: 1.1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #000;
  font-weight: bold;
  color: #fff;
  flex: 2;
}

button:hover {
  opacity: 0.9;
}

.reset-btn {
  background-color: #000;
  color: white;
  flex: 1;
}

.reset-btn:hover {
  opacity: 0.9;
}




.result {
  margin-top: 25px;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  animation: pop 0.4s ease;
}

.approved {
  background: rgba(0, 255, 64, 0.555);
  color: #fff;
}

.rejected {
  background: rgba(255, 0, 0, 0.712);
  color: #fff;
}

.hidden {
  display: none;
}

@keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


@media (min-width: 768px) {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .button-group {
    grid-column: span 2;
  }

  .result {
    grid-column: span 2;
  }
}
